In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm

In [6]:
deck=pd.DataFrame({
        'suit': ['Hearts', 'Diamonds', 'Clubs', 'Spades']*13,
        'rank': ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']*4,
        'value': [2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10, 11]*4,
    })

shuffle_deck=deck.sample(frac=1).reset_index(drop=True)

hand=shuffle_deck.iloc[[0,2,4]]

In [7]:
hand

       suit rank  value
0  Diamonds    9      9
2    Spades    9      9
4  Diamonds    K     10

In [8]:
top_card = shuffle_deck.iloc[0]
shuffle_deck.drop(0, inplace=True)
shuffle_deck.reset_index(drop=True, inplace=True)

In [ ]:
def decision():